/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.menu a i {
  margin-right: 10px;
}

.main {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  color: #333;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.content {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  color: #fff;
  background-color: #333;
  padding: 10px;
}

.row {
  display: flex;
}

.logo {
  padding: 10px;
  text-align: center;
  color: #dc3444;
}

.col-md-2 {
  width: 15%;
  background-color: #333;
  color: white;
  padding: 15px;
}

.col-md-2 a {
  padding: 10px;
  color: white;
  text-decoration: none;
  line-height: 1.5;
}

.col-md-10 {
  width: 85%;
}

.col-md-10 .top {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: #dc3444;
  color: white;
}

.top img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 10px;
}

.top>div {
  display: flex;
  align-items: center;
}

.col-md-2 button {
  padding: 10px;
  background-color: #dc3444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.logout {
  text-align: center;
}

.content {
  padding: 10px;
}

footer {
  margin: 0px;
  padding: 10px;
  background-color: #dc3444;
  text-align: center;
  color: white;
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #1213120f;
  color: 000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
